@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100%;
}

a {
    display: block;
    padding: 20px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}

a:hover {
    background-color: red;
    transition: background-color .4s;
}