@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat center;
    background-size: cover;
}

main {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    height: 70%;
    background: url(../imagens/frame-iphone.png) no-repeat center;
}

iframe#tela {
    position: relative;
    top: 85px;
    left: 171px;
    width: 266px;
    height: 470px;
}